body {
	background-color:white;
	text-align: center;
	margin: 5px 50px 5px;
}

form {
	text-align: center;
}

h1 {
	margin: 0 0 10px;
	font-size: 30px;
	font-weight: bold;
	color:#fab600;
	text-align: center;
        position: absolute;
        top: 30px;
        left: 550px;
}

h2 {
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: bold;
	color:#102645;
}

#centre {
	position: fixed;
	left: 40%;
	right: 40%;
	top: 30%;
	height: 160px;
	border-style: groove;
	border-color: #fab600;
	border-radius: 5px;
	padding: 1%;
}

.box {
	display: inline-block;
}

header {
	color: white;
	position: relative;
	height: 120px;
	background-color: #102645;
}

.slider {
	-webkit-appearance: none;
	background: #FCF3CF;
	width: 50%;
	height: 20px;
	opacity: 2;
}

.slider:hover{
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	background: #34495E  ;
	width: 5%;
	height: 20px;
}


.tick {
	position: relative;
	justify-content: center;
}
.tick::before {
	content: "";
	position: absolute;
	top: -10px;
	width: 1px;
	background: gray;
	height: 10px;
}

