body {
	background-color:white;
	text-align: center;
}

form {
	text-align: center;
}

.body{
	margin: 5px 50px 5px;
}

h1 {
	margin: 0 0 10px;
	font-size: 30px;
	font-weight: bold;
	color:#fab600;
	text-align: center;
        position: absolute;
        top: 30px;
        left: 550px;
}

h2 {
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: bold;
	color:#102645;
}


header {
	color: white;
	position: relative;
	height: 120px;
	background-color: #102645;
}


.likert {
  list-style:none;
  width:80%;
  margin-left: 10%;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}

.likert li {
  display:inline-block;
  width:15%;
  text-align:center;
  vertical-align: top;
}

.likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:43%;
}

.likert:last-of-type {border-bottom:0;}
.likert:before {
  content: '';
  position:relative;
  top:11px;
  left:19%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:62%;
}


